


body { 
  background-image: url("wild_oliva_@2X.png")
}

h1{ 
  color:white;
  font-family:'Oswald', sans-serif;
  text-align:center;
  padding-bottom:50px;

}
.col-md-4{
  padding-bottom: 20px;
  
}


img{
  height:270px;
  width: 240px;
  border: 10px solid white;
  -webkit-transition: all 1s ease-in;
-moz-transition: all 1s ease-in;
-ms-transition: all 1s ease-in;
-o-transition: all 1s ease-in;
transition: all 1s ease-in;
  
  
  
}

img:hover{
-moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
-o-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}


h4{ 
  padding-bottom: 35px;
  font-family:'Oswald', sans-serif;
  color: white;
  text-align:justify;
  font-size: 1.5em;
}